################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/.vs/Terrain-Topology-Algorithms/v16
/Library
/Logs
/obj/Debug
/Packages
